site_name: IBM Building Blocks Documentation
site_description: Modular IBM Building Blocks aligned with IBM Garage and Carbon Design
site_url: https://ibm-self-serve-assets.github.io/building-blocks-docs/

docs_dir: docs

theme:
  name: material
  features:
    - navigation.sections
    - navigation.expand
    - navigation.instant
    - navigation.top
    - content.code.copy

  palette:
    - scheme: default
      primary: custom
      accent: custom
      toggle:
        icon: material/weather-sunny
        name: Switch to dark mode

    - scheme: slate
      primary: custom
      accent: custom
      toggle:
        icon: material/weather-night
        name: Switch to light mode

