:root {
  --md-primary-fg-color: #0f62fe;
  --md-accent-fg-color: #4589ff;
  --md-default-bg-color: #f4f4f4;
  --md-text-font: 'IBM Plex Sans', sans-serif;
}

.md-header, .md-tabs {
  background-color: #0f62fe;
}

.md-nav__title {
  font-weight: 600;
}

/* Light mode */
[data-md-color-scheme="default"] {
  --md-primary-fg-color: #0f62fe;
  --md-accent-fg-color: #4589ff;
}

/* Dark mode */
[data-md-color-scheme="slate"] {
  --md-primary-fg-color: #78a9ff;
  --md-accent-fg-color: #4589ff;
}

body {
  font-family: "IBM Plex Sans", sans-serif;
}

